#Button1{
    border-radius:8px;
    background-color:darksalmon;
}
#Button2 {
    border-radius: 8px;
    background-color:gray;
}
#Button3 {
    border-radius: 8px;
    background-color: red;
}
tr:nth-child(2n+1){
    background-color:lightgray;
}